%h1
  Moderation Guidelines
%p{ :style => "font-size: 1.3em;" }
  %span{ :style => "color: red;" }
    *
  This guide is meant to be
  = succeed '.' do
    %span{ :style => "color: red;" }continually improved
  Please provide feedback
  = link_to "here.", 'http://TristanKromer.com/contact'

%h2
  Goal
%p
  The moderators goal is to improve the quality of discussion on LSC by
  %i advising members
  on how to improve substandard posts and
  %i eliminate unacceptable posts
  such as spam.
%p
  Messages referred to the moderation queue should be accepted or denied in 48 hours.

%h2
  Standard Operating Procedure
%p
  On finding a post that violates the
  = link_to 'posting guidelines', guidelines_url
  either in the moderation queue or posted publicly:

%ol
  %li Reply to message (privately if in the moderation queue.) The reply should:
  %ul{ :style => 'margin-left: 40px' }
    %li thank the person for posting;
    %li state the rule;
    %li explain the rationale behind the rule;
    %li provide a link to the guidelines;
    %li (optional) include any tips to make the post acceptable for posting.
  %p{ :style => 'margin-left: 0' }
    At the moderator's discretion and if the thread bypassed the moderation queue, additional steps can be taken:
  %li Delete the message and other messages in the thread;
  %li Lock the thread to avoid additional responses;
  %li Ban the user if a repeat offender.

%h2
  Banning
%p
  Users may be
  %span{ :style => "color: red;" }
    permanently banned
  at the discretion of the moderator.
%p
  This should be avoided, but reasons include:
%ul
  %li Soliciting jobs or job opportunities;
  %li Repeatedly violating the guidelines and being unresponsive to feedback;
  %li Users which are clearly not real people but are instead shared business accounts.