%h1
  About

%p
  The Lean Startup Circle is dedicated to
  %i building lean leadership
  and
  %i applying lean thinking.

%h2
  Who's who?

.person
  .profile_pic
    = image_tag 'rich collins.jpg'
  .name
    Rich Collins
  .bio
    Rich founder the Lean Startup Circle

.person
  .profile_pic
    = image_tag 'edith harbaugh.jpg'
  .name
    Edith Harbaugh
  .bio

.person
  .profile_pic
    = image_tag 'tristan kromer.jpg'
  .name
    Tristan Kromer
  .bio

.person
  .profile_pic
    = image_tag 'hiten shah.jpg'
  .name
    Hiten Shah
  .bio