.bundle
config/database.yml
config/config.yml
db/*.sqlite3
db/development
log/*.log
tmp/
.idea/**/*
.idea/*
.idea
.DS_Store
public/stylesheets/
public/stylesheets/*
public/stylesheets/**/*
public/assets/
public/assets/*
public/assets/**/*
public/system/
public/system/*
public/system/**/*
.sass-cache/
coverage
rails_best_practices_output.html