%h1
  LSC Posting Guidelines
%p{ :style => "font-size: 1.3em;" }
  %span{ :style => "color: red;" }
    * These guidelines are currently under revision.
  Please feel free to provide feedback
  = link_to "here.", 'http://TristanKromer.com/contact'

%p
  The Lean Startup Circle is dedicated to
  %i building leadership
  and
  %i applying lean thinking.
%p
  The discussion group is a place for members to provide value to each other. Before you post, please ask yourself:
%p{ :style => "font-size: 1.8em; margin-left: 60px;"}
  %i "What will the reader learn?"
%p
  If there is nothing to learn,
  %b please do not post.

%h2 Getting Good Feedback
%p
  If you would like
  %i good
  feedback, please explain your thought process:
  %ul
    %li Hypothesis - What are you trying to learn?
    %li Metric - How will you measure your results?
    %li Experiment - What do you need to build in order to learn?


%h2
  The Guidelines

%p
  Job postings are an
  %span{ :style => "color: red;" }
    immediate ban,
  others violations are a warning.

%table
  %tr
    %th{ :style => 'color: #008000' }
      Good
    %th{ :style => 'color: red' }
      Bad
    %th
      Rule
  %tr
    %td{ :style => 'background: #C8F0C8'}
      Will this MVP
      %b help me validate
      my
      %b hypothesis?
    %td{ :style => 'background: #FFD5D5'}
      %b Sign up
      for my MVP.
    %td{ :rowspan => "3", :style => 'font-style: italic;' }
      No solicitations.
      %br
      Do not promote your blog, product, or survey.
  %tr
    %td{ :style => 'background: #C8F0C8'}
      Will this survey
      %b help me learn
      about my customers?
    %td{ :style => 'background: #FFD5D5'}
      Fill out
      %b my
      survey!
  %tr
    %td{ :style => 'background: #C8F0C8'}
      I read this lean startup book / blog and was confused.
      %br
      Can someone
      %b explain?
    %td{ :style => 'background: #FFD5D5'}
      Read
      %b my
      blog!
  %tr
    %td{ :style => 'background: #C8F0C8'}
      I have a question about
      %b lean startups...
    %td{ :style => 'background: #FFD5D5'}
      I have a legal question about
      %b random stuff...
    %td{ :style => 'font-style: italic;' }
      Do not ask general questions unrelated to lean startups.

  %tr
    %td{ :style => 'background: #C8F0C8'}
      I agree
      %b because...
    %td{ :style => 'background: #FFD5D5'}
      +1!
    %td{ :style => 'font-style: italic;' }
      Do not post one line messages with no content.
  %tr
    %td{ :style => 'background: #C8F0C8'}
      I respectfully disagree
      %b because...
    %td{ :style => 'background: #FFD5D5'}
      You are a nazi.
    %td{ :style => 'font-style: italic;' }
      Do not take offense at honest feedback.
      Do not insult other members directly
      %i or indirectly,
      even if you feel justified.
      %div{ :style => 'margin-top:10px;'}
      If you have a problem, be a better person and resolve your issues
      %b offline.
  %tr
    %td{ :style => 'background: #C8F0C8'}
      There is a
      %b lean startup event
      going on that will be
      %b available online...
    %td{ :style => 'background: #FFD5D5'}
      %b
        Reminder,
      Come to
      %b
        my
      event.
    %td{ :style => 'font-style: italic;' }
      Do not post events unless they are directly related to Lean Startups and are available online. Only post once.
  %tr
    %td
    %td{ :style => 'background: #FFD5D5'}
      I am
      %b
        looking for
      a co-founder or consultant.
    %td{ :style => 'font-style: italic;' }
      Do not post jobs. This will result in an
      %span{ :style => "color: red;" }immediate ban.
      Post jobs on the
      = link_to 'Lean Startup Jobs Group', 'https://groups.google.com/group/lean-startup-jobs'

%h2 Rejected?
%ul
  %li
    Please be patient, is it 4 am in San Francisco?
    %div{ :style => 'margin-top:10px;'}
    Moderators need sleep as well. Maybe someone hasn't read it yet.
  %li If you still haven't seen your post or received a message from a moderator in 48 hours, please feel free to ask.
  %li
    If you received a rejection and disagree, please remember that as humans we have to make judgement calls on the value of a post.
    %div{ :style => 'margin-top:10px;'}
    Ask how to improve it so it brings value to the community!
    %div{ :style => 'margin-top:10px;'}
    Do
    %b not
    argue on the interpretation of the guidelines. Your legal skills will not avail you.