-#:css
-#  *
-#  {
-#  	font-family: Helvetica, Arial, sans-serif;
-#  }
-#
-#  p
-#  {
-#  	margin-top: 32px;
-#  	width: 512px;
-#  	margin-left: auto;
-#  	margin-right: auto;
-#  	margin-bottom: 32px;
-#  }
-#
-#  ul
-#  {
-#  	margin-left: auto;
-#  	margin-right: auto;
-#  	width: 512px;
-#  }
-#
-#  li
-#  {
-#  	margin-bottom: 16px;
-#  }
-#
-#  a
-#  {
-#  	color: gray;
-#  }
%p The Lean Startup Circle discussion group's sole purpose is to help members apply Lean Startup principles to their startups. It is a place for members to provide value to each other. No attempts to extract value without providing value back will be tolerated. Here are the group guidelines.  Job postings are an immediate ban, all others are a warning.
%ul
  %li Do post lean startup case studies, lessons learned, or your own experiences applying lean.
  %li Do ask questions about how to apply lean
  %li Do provide thoughtful feedback, no one-line replies of "read this book or blog post"
%div{:style => "height:32px"}
%ul
  %li
    Don't post jobs.  Post jobs here:
    = succeed "." do
      %a{:href => "https://groups.google.com/group/lean-startup-jobs"} https://groups.google.com/group/lean-startup-jobs
  %li Don't announce events unless they are directly related to Lean Startups. Only post once.
  %li Don't post surveys unless you share the results with the group, including your interpretation of the results with respect to the Lean Startup philosophy.
  %li Don't ask people to rate your product, landing page ... etc unless you provide the thought process behind its design and its relation to the Lean Startup philosophy.
  %li Don't ask general purpose questions like "where can I find a Terms of Service?"
  %li Don't promote your blog or product