%h1
  LSC Posting Guidelines
%p{ :style => "font-size: 1.3em;" }
  %span{ :style => "color: red;" }
    * These guidelines are currently under revision.
  Please feel free to provide feedback
  = link_to "here.", 'http://TristanKromer.com/contact'

%p
  The Lean Startup Circle is dedicated to
  %i building leadership
  and
  %i applying lean thinking.
%p
  The discussion group is a place for members to provide value to each other. Before you post, please ask yourself:
%p{ :style => "font-size: 1.8em; margin-left: 60px;"}
  %i "What will the reader learn?"
%p
  If there is nothing to learn,
  %b please do not post.
%p
  Job postings are an
  %span{ :style => "color: red;" }
    immediate ban,
  others violations are a warning.

%table
  %tr
    %th{ :style => 'color: #008000' }
      Good
    %th{ :style => 'color: red' }
      Bad
  %tr
    %td
      Will this survey
      %b help me learn
      about my customers?
    %td
      Fill out
      %b my
      survey!
  %tr
    %td
      I
      %b need help
      with my MVP. I am trying to measure customer demand? If I get 100 sign ups is that enough?
    %td
      %b Sign up
      for my MVP.
  %tr
    %td
      I agree
      %b because...
    %td +1000!!!
  %tr
    %td
      I respectfully disagree
      %b because...
    %td You are a nazi.
  %tr
    %td
      I read this book / blog and was confused.
      %br
      Can someone
      %b explain
      this?
    %td
      Read
      %b my
      blog!
  %tr
    %td
      There is a
      %b lean startup event
      going on that will be
      %b available online...
    %td
      %b
        Reminder,
      Come to
      %b
        my
      event.
  %tr
    %td
      I have a question about
      %b lean startup...
    %td
      I have a legal question about
      %b random stuff...


%p
  Still not clear? Ok... here are some specific rules.

%ul
  %h2 Do…
  %li ask questions about lean thinking.
  %li post lean startup case studies, lessons learned, or your own experiences applying lean.
  %li provide thoughtful feedback.
  %li be respectful.
  %h2
    Do
    = succeed '…' do
      %span{ :style => "color: red;" }
        NOT
  %li promote your blog or product.
  %li
    post jobs. This will result in an
    %span{ :style => "color: red;" }immediate ban.
    Post jobs on the
    = link_to 'Lean Startup Jobs Group', 'https://groups.google.com/group/lean-startup-jobs'
  %li post one line messages of “read this book or blog post.” or "+1!"
  %li take offense at honest feedback.
  %li
    insult other members directly
    %i or indirectly,
    even if you feel justified.
    %div{ :style => 'margin-top:10px;'}
    Be better than that and
    %b take it offline.
  %li post events unless they are directly related to Lean Startups. Only post once.
  %li post surveys or solicitations to surveys. You may post the results of a survey if you are looking for help interpreting the results.
  %li ask for feedback on products, landing pages, etc unless you provide the thought process behind its design and its relation to the Lean Startup philosophy.
  %li ask general questions unrelated to lean startup such as “Where can I get a template for creating a Terms of Service?”
  %h2 Rejected?
  %li
    Please be patient, is it 4 am in San Francisco?
    %div{ :style => 'margin-top:10px;'}
    Moderators need sleep as well. Maybe someone hasn't read it yet.
  %li If you still haven't seen your post or received a message from a moderator in 48 hours, please feel free to ask.
  %li
    If you received a rejection and disagree, please remember that as humans we have to make judgement calls on the value of a post.
    %div{ :style => 'margin-top:10px;'}
    Ask how to improve it so it brings value to the community!
    %div{ :style => 'margin-top:10px;'}
    Do
    %b not
    argue on the interpretation of the guidelines. Your legal skills will not avail you.