- title "Lean Startup Forum"
.home
  %h1 Join 80,000+ other lean startup practicioners in meeetups all over the world!
  = form_for User.new do |f|
    = f.text_field :email
    = f.submit "Sign Up", class: 'button'