.home
  %div{ :style => "float: left;" }
    %h1
      Lean Startup Circle
    %p
      Building Lean Leaders
  %div{ :style => "float: right; margin: 80px" }
    = link_to "http://www.surveymonkey.com/s/VBV2CJF", :onClick => "_gaq.push(['_trackPageview', '/clicked-apply-button']); goog_report_conversion('tel:415-555-1234');" do
      .red_button
        Find a meetup
  .clear
