.jobs_home
  %h1
    Build a Lean Balanced Team

  .column1
    %h2 Companies
    %ol
      %li
        Apply to post
        %span.red *
      %li Get lean startup know-how
      %li Change the way you do business

    .blue_button
      Apply as a Lean Company

  .column2
    Insert balance team pic

  .column3
    %h2 Lean People
    %ol
      %li Sign up in one step
      %li
        Get
        %i real
        lean job posts
        %span.red *
      %li Choose the team where you can succeed
    = image_tag "connect_linkedin.png"

  %p.caveat.clear
    %span.red *
    We interview each company to ensure they're
    %u really
    implementing lean thinking.
