.jobs_home
  %h1
    Build a Lean Balanced Team

  .column1
    %h2 Companies
    %ol
      %li
        Apply to post
        %span.red *
      %li Get lean startup know-how
      %li Change the way you do business
    %p
      %span.red *
      We interview each company to ensure they're
      %u really
      implementing lean thinking.

  .column2
    Insert balance team pic

  .column3
    %h2 Lean Startup People
    %ol
      %li Sign up in one step
      %li Receive job listings from pre-vetted lean companies
      %li Choose the team where you can succeed
