.jobs_home
  .visual
    %h1
      Build a Lean Team

    = image_tag "jobs_landing_page.png"
    .clear

  .column_left
    .inner_column
      %h2 Companies
      %ol
        %li
          Apply to post
          %span.red *
        %li Find lean startup know-how
        %li Change the way you do business
      = link_to image_tag("apply_linkedin.png"), sign_in_path(:employer)

  .column_right
    .inner_column
      %h2 Lean People
      %ol
        %li Sign up in one step
        %li
          Get
          %i real
          lean job posts
          %span.red *
        %li Join a lean team
      = link_to image_tag("apply_linkedin.png"), sign_in_path(:jobseeker)

  %p.caveat.clear
    %span.red *
    We interview each company to ensure they're
    %u really
    implementing lean thinking (or at least trying real hard.)
