- title "Thank You for Signing Up"

.thanks_for_signing_up
  %h1
    Thank you!

  %p
    Thanks for signing up.

  %p
    We'll send you an email when we find a company that's
    %b genuinely
    implementing lean startup methodology or interested in getting great people to make the shift to lean thinking.

  %p
    We won't bother you with anything else and you can unsubscribe at any time.
