.thanks_for_signing_up
  %h1
    Thank you!

  %p
    Thanks for signing up.

  %p
    We'll be in contact with you shortly to better understand how you are implementing lean in your company.
  %p
    Please note, that only companies implementing lean startup methodology or interested in getting great people to make the shift to lean thinking will be allow to post.
