- title "Find a Lean Startup Meetup"

#index_groups
  .row
    .span12
      = gmaps("markers" => { "data" => @groups, :options => { :randomize => true, :max_random_distance => 1000, :list_container => "groups" } })
      %table.table.table-condensed.table-striped.groups
        %caption
          %h1{ :style => "display: inline"}
            Lean Startup Meetups Worldwide
          %span.pull-right
            = link_to "Add a Meetup", new_group_path, :class => "btn btn-primary"
        %thead
          %tr
            %th Name
            %th Location
            %th Links
        %tbody#groups