- title "Add Meetup | Lean Startup Circle"

#new_meetup
  %h1 Add a Meetup Group
  %p.lead
    Got a group that meets in the real world to dig into Lean Startup principles?
    %i Add it to our list.

  = render 'form'