= title "- Thanks for Contacting Us"

#contact_thanks
  .row
    .span12
      %h1 Thanks!
      %p We've received your message and will respond promptly.
      %p If you don't hear back from us, feel free to nag.