SENDGRID_DOMAIN: domain.com
SENDGRID_USERNAME: username@domain.com
SENDGRID_PASSWORD: XXXXXXXXXXXX
RECAPTCHA_PUBLIC_KEY: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
RECAPTCHA_PRIVATE_KEY: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SECRET_TOKEN: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
LINKEDIN_API_KEY: XXXXXXXXXXXXXXXXXXXXXXXX
LINKEDIN_SECRET_KEY: XXXXXXXXXXXXXXXXXXXXXXXX
MEETUP_API_KEY: XXXXXXXXXXXXXXXXXXXXXXXX
MEETUP_CONSUMER_KEY: XXXXXXXXXXXXXXXXXXXXXXXX
MEETUP_SECRET_KEY: XXXXXXXXXXXXXXXXXXXXXXXX
LINKEDIN_API_KEY: XXXXXXXXXXXXXXXXXXXXXXXX
TWITTER_CONSUMER_KEY: XXXXXXXXXXXXXXXXXXXXXXXX
TWITTER_CONSUMER_SECRET: XXXXXXXXXXXXXXXXXXXXXXXX
AIRBRAKE_API_KEY: XXXXXXXXXXXXXXXXXXXXXXXX
DEVISE_PEPPER: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

development:
  GOOGLE_ANALYTICS_CODE: UA-XXXXXXXX-X

staging:
  GOOGLE_ANALYTICS_CODE: UA-XXXXXXXX-X

production:
  GOOGLE_ANALYTICS_CODE: UA-XXXXXXXX-X

test:
  GOOGLE_ANALYTICS_CODE: UA-XXXXXXXX-X