development:
  google_analytics_code: UA-XXXXXXXX-X
  sendgrid_domain: domain.com
  sendgrid_username: username@domain.com
  sendgrid_password: password
  recaptcha_public_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  recaptcha_private_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  secret_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  linkedin_api_key: XXXXXXXXXXXXXXXXXX
  linkedin_secret_key: XXXXXXXXXXXXXXXXXX
  meetup_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  meetup_consumer_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  meetup_secret_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  linkedin_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  twitter_consumer_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  twitter_consumer_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  airbrake_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

staging:
  google_analytics_code: UA-XXXXXXXX-X
  sendgrid_domain: domain.com
  sendgrid_username: username@domain.com
  sendgrid_password: password
  recaptcha_public_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  recaptcha_private_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  secret_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  linkedin_api_key: XXXXXXXXXXXXXXXXXX
  linkedin_secret_key: XXXXXXXXXXXXXXXXXX
  meetup_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  meetup_consumer_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  meetup_secret_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  linkedin_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  twitter_consumer_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  twitter_consumer_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  airbrake_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

production:
  google_analytics_code: UA-XXXXXXXX-X
  sendgrid_domain: domain.com
  sendgrid_username: username@domain.com
  sendgrid_password: password
  recaptcha_public_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  recaptcha_private_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  secret_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  linkedin_api_key: XXXXXXXXXXXXXXXXXX
  linkedin_secret_key: XXXXXXXXXXXXXXXXXX
  meetup_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  meetup_consumer_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  meetup_secret_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  linkedin_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  twitter_consumer_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  twitter_consumer_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  airbrake_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

test:
  google_analytics_code: UA-XXXXXXXX-X
  sendgrid_domain: domain.com
  sendgrid_username: username@domain.com
  sendgrid_password: password
  recaptcha_public_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  recaptcha_private_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  secret_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  linkedin_api_key: XXXXXXXXXXXXXXXXXX
  linkedin_secret_key: XXXXXXXXXXXXXXXXXX
  meetup_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  meetup_consumer_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  meetup_secret_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  linkedin_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  twitter_consumer_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  twitter_consumer_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  airbrake_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX