//= require_self

@import 'vendor/normalize', 'vendor/main', 'vendor/bootstrap', 'vendor/gmaps4rails', 'compass'
@import 'variables', 'helper'
@import 'layouts/buttons', 'layouts/flash'
@import 'static_pages/team'
@import 'landing_pages/jobs'

// Bootstrap overides

content.container // Fixes gmaps error
  margin-right: 0
  margin-left: 0

.field_with_errors
  display: inline

.navbar
  margin-bottom: 0

blockquote
  border-left: none

table caption
  text-align: left
  margin-bottom: 20px
  .btn
    float: right

[class^="icon-"], [class*=" icon-"]
  background-image: image-url("icons/glyphicons-halflings.png")

.icon-white
  background-image: image-url("icons/glyphicons-halflings-white.png")

.nav-pills > .active > a >
  [class^="icon-"], [class*=" icon-"]
    background-image: image-url("icons/glyphicons-halflings-white.png")

.nav-list > .active > a >
  [class^="icon-"], [class*=" icon-"]
    background-image: image-url("icons/glyphicons-halflings-white.png")

.navbar-inverse .nav > .active > a >
  [class^="icon-"], [class*=" icon-"]
    background-image: image-url("icons/glyphicons-halflings-white.png")

.dropdown-menu >
  li > a:hover >
    [class^="icon-"], [class*=" icon-"]
      background-image: image-url("icons/glyphicons-halflings-white.png")
  .active > a >
    [class^="icon-"], [class*=" icon-"]
      background-image: image-url("icons/glyphicons-halflings-white.png")

.dropdown-submenu:hover > a >
  [class^="icon-"], [class*=" icon-"]
    background-image: image-url("icons/glyphicons-halflings-white.png")

// Basics

.main, footer
  h1
    font-family: courier
  h2
    font-family: courier
  p
    line-height: 1.7em

  ol, ul
    li
      line-height: 1.2em
      margin: 10px 0 0 40px
  ul
    li
      list-style-type: square

// Layout

html, body
  height: 100%

#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -50px /* Negative indent footer by it's height */

#push, footer
  height: 50px

header
  padding: 10px 0
  #logo
    img
      height: 75px
  nav
    padding: 10px 0
    li a
      cursor: pointer !important
    li.dropdown:hover ul.dropdown-menu
      left: 0
      display: block
      margin-top: 0px
      li
        a
          &:hover
            background-color: #049cdb

    .follow_us
      float: right
      padding-top: 7px
      vertical-align: bottom
      img
        height: 25px

  .nearest_meetup
    padding:  7px 10px
    position: absolute
    right: 0
    bottom: 0
    color: #111
    a
      font-weight: 600
      color: #111
      border-bottom: 1px dotted #111
      &:hover
        color: white
        border-bottom: 1px solid white
        text-decoration: none

footer
  @include box-shadow(0, -2px, 2px, 0, #666)
  .container
    padding: 10px 0
  #footermenu
    text-align: right
    float: right

// Custom pages
#guidelines, #moderation_guidelines, #team
  margin-bottom: 30px

// Meetups

.meetup_gmap_window
  max-width: 400px
  a
    color: #333
    text-decoration: none
  .links
    margin: 10px 0
  //.description
  //  margin-top: 10px

.map_container
  margin-bottom: 30px

// Responsive mods for google embeds

.gmaps4rails_map, .map_container
  width: 925px

@media (max-width: 320px)
  .gmaps4rails_map, .map_container
    width: 300px

@media (min-width: 320px) and (max-width: 479px)
  .gmaps4rails_map, .map_container
    width: 420px

@media (min-width: 480px) and (max-width: 767px)
  .gmaps4rails_map, .map_container
    width: 715px

@media (min-width: 768px) and (max-width: 979px)
  .gmaps4rails_map, .map_container
    width: 710px

@media (min-width: 1200px)
  .gmaps4rails_map, .map_container
    width: 1155px

@media (max-width: 320px)
  #forum_embed
    width: 300px

@media (min-width: 320px) and (max-width: 480px)
  #forum_embed
    width: 360px

@media (min-width: 480px) and (max-width: 767px)
  #forum_embed
    width: 715px

@media (min-width: 768px) and (max-width: 979px)
  #forum_embed
    width: 724px

@media (min-width: 1200px)
  #forum_embed
    width: 1170px