%header.page_header
  .container
    .row
      .span16
        = link_to root_url(:subdomain => false), :id => 'logo', :class => 'nodec' do
          = image_tag "leanstartupcircle_logo.png"
    .row
      .span16
        = render '/layouts/nav'