%header.page_header
  .container
    .row
      .span7
        = link_to root_url, :id => 'logo', :class => 'nodec' do
          = image_tag "icons/leanstartupcircle_logo.png"
      .span5
        = render '/layouts/nav'